/* debug---------------------------- */
/* [class*=col] {

    min-height: 50px;
    background-color:  green ;
    border: slateblue solid;
} */

/* [class*=col-] {

    min-height: 100px;
    background-color:  red ;
} */

/* .row {

    background-color:  yellow ;
} */
/* debug---------------------------- */

a {

    text-decoration: none;
    color: white;
}



.bar_lft {

    width: 5rem;
    height: 4px;
    margin-right: 1%;
    background-color: #130f0f;
    border-radius: 5px;
}

.bar_rgt {

    width: 5rem;
    height: 4px;
    margin-left: 1%;
    background-color: #130f0f;
    border-radius: 5px;
}

.star_title i {

    font-size: 1.6rem;
}

/* HEADER / NAV SECTION */
header {

    background-color: #2c3e50;
}

.bg-dark {
    --bs-bg-opacity:0;
}
header h4 {

    padding: 10px 0;
}



/* JUMBOTRON SECTION */
#jumbotron {

    padding: 20px 0;
    background-color: #1abc9c;
    color: white;
}

.avatar_svg {

    width: 300px;
    height: auto;
}

#jumbotron .bar_rgt, 
#jumbotron .bar_lft {

    width: 5rem;
    height: 4px;
    margin: 0 1%;
    background-color: white;
    border-radius: 5px;
}

#jumbotron h1 {

    padding: 10px 0;
}

#jumbotron h5 {

    padding-top: 20px;    
} 


/* PORTFOLIO SECTION */
#portfolio_section {

    margin-top: 50px;
}

.container_img {

    margin: 10px 0;
}

.container_img img {

    border-radius: 15px;
    background-color: transparent;
    border:none;
}



/* ABOUT SECTION */

#about_section {

    background-color: #1abc9c;
    color: white;
    padding: 50px 0;
}

#about_section .bar_rgt, 
#about_section .bar_lft {

    width: 5rem;
    height: 4px;
    margin: 0 1%;
    background-color: white;
    border-radius: 5px;
}

#about_section p {

    font-weight: 600;
    font-size: 1.2rem;
    margin: 1.5rem 0;
}



/* CONTANCT SECTION */
#contact_section {

    padding: 50px 0;
}

#contact_section .btn-outline-light{

    background-color: #1abc9c;
}

#contact_section form {

    padding: 30px 0;
}





/* FOOTER SECTION */
#footer_nav {

    background-color: #3a546d ;
    color: white;
    padding: 30px 0;
}

#footer_nav .creator {

    color: #1abc9c;
}

#footer_nav .tabs {

    padding: 20px 2%;
}

#footer_nav .socials a {

    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: solid 1px white;
    border-radius: 50%;
}




#footer_copyright {

    background-color: #2c3e50;
    color: white;
    text-align: center;
}

#footer_copyright h6 {

    padding: 5% 0;
    font-size: 0.7rem;
}




.form-control {

    border: none;
    border-bottom: solid 1px grey;
}